# Environment & Credentials
.env
.cache
.cache.sqlite

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ds_env/

# IDE files
.vscode/
.idea/
# CatBoost Logs
catboost_info/

# Node Dependencies & Build Output
node_modules/
frontend/node_modules/
frontend/dist/

brain.md

saved_models/
